# Credenciales y configuración local
.env

# Python
__pycache__/
*.pyc
*.pyo
.ipynb_checkpoints/

# Imágenes satelitales (archivos muy pesados)
data/satelital/*.tif
data/satelital/*.nc

# VS Code
.vscode/

# Logs
*.log
